<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sheep83.games.turnmonster">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="Game"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ActivityNewPlayer"
            android:label="@string/app_name"
            android:parentActivityName=".Game">
        </activity>

        <activity
            android:name=".GameInit"
            android:label="@string/app_name"
            android:parentActivityName=".ActivityNewPlayer">
        </activity>

        <activity
            android:name=".ActivityCombat"
            android:label="@string/app_name"
            android:parentActivityName=".GameInit">
        </activity>

        <activity
            android:name=".ActivityPlayerTurn"
            android:label="@string/app_name"
            android:parentActivityName=".ActivityCombat">
        </activity>

        <activity
            android:name=".ActivityMonsterTurn"
            android:label="@string/app_name"
            android:parentActivityName=".ActivityCombat">
        </activity>

        <activity
            android:name=".ActivityGameOver"
            android:label="@string/app_name"
            android:parentActivityName=".ActivityCombat">
        </activity>

        <activity
            android:name=".ActivityLoot"
            android:label="@string/app_name"
            android:parentActivityName=".ActivityCombat">
        </activity>

        <activity
            android:name=".ActivityCharacterView"
            android:label="@string/app_name"
            android:parentActivityName=".Game">
        </activity>

        <activity
            android:name=".ActivityInventoryView"
            android:label="@string/app_name"
            android:parentActivityName=".ActivityCharacterView">
        </activity>

        <activity
            android:name=".ActivityItemView"
            android:label="@string/app_name"
            android:parentActivityName=".ActivityInventoryView">
        </activity>

    </application>



</manifest>
